<div class="card">
  <img src="https://images.pexels.com/photos/12397034/pexels-photo-12397034.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="post-image" class="card-img-top">
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ml-3">Featured</small>
    <small class="bg-light text-info text-center ml-3">View - 100.27</small>

    <h5 class="mt-1"> HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY</h5>
    <p> Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    <small class="bg-light text-warning text-center ml-3">LAST UPDATED - FEB 15, 2024</small>
  </div>
</div>
